.herobanner {
    /* border: 1px solid black; */
    padding: 50px 0px 0px;
    position: relative;
    min-height: 745px;
}

.herobanner h1 {
    margin: 15px 0px 80px;
}

.herotext2 {
    display: block;
}

.tagline {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tagline {
    font-size: 30px;
}

.tagtext2 {
    display: block;
}

.heroImage img {
    position: absolute;
    top: 295px;
    right: 85px;
    width: auto;
    height: auto;
}

/*ipad pro landscape*/
@media(min-width: 1181px) and (max-width: 1400px) {
    .heroImage img {
        top: 295px;
        right: -60px;
    }
}

/*ipad air landscape*/
/*ipad pro portrait*/
@media(min-width: 1024px) and (max-width: 1180px) {

    .herobanner {
        min-height: 785px;
    }

    .heroImage img {
        top: 335px;
        right: -90px;
    }
}

/*ipad Air portrait*/
@media(min-width: 768px) and (max-width: 1023px) {

    .herobanner {
        min-height: 930px;
        text-align: center;
    }

    .tagline {
        justify-content: center;
        align-items: flex-start;
    }

    .herotext2 {
        display: inline;
    }

    .heroImage img {
        width: 70%;
        top: 600px;
        right: 75px;
    }
}

/*mobile landscape*/
@media(min-width: 667px) and (max-width: 767px) {
    .herobanner {
        /* min-height: 695px; */
        min-height: 600px;
        /* text-align: center; */
    }

    .herobanner h1 {
        font-size: 50px;
        line-height: 70px;
        margin: 15px 0px 25px;
    }

    .heroImage img {
        width: 75%;
        top: 245px;
        /* right: -40px; */
        right: -85px;
    }
}

/*mobile portrait*/
@media(max-width: 666px) {
    .herobanner {
        min-height: 780px;
        text-align: center;
    }

    .herotext2 {
        display: inline;
    }

    .herobanner h4 {
        font-size: 20px;
    }

    .herobanner h1 {
        font-size: 50px;
        line-height: 70px;
        margin: 15px 0px 55px;
    }

    .tagtext2 {
        display: inline;
    }

    .heroImage img {
        width: 100%;
        /* top: 560px; */
        top: 525px;
        right: -5px;
        margin: 0;
    }
}