.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerTop {
    text-align: center;
    padding: 1em 0;
}

.headerTop a img {
    width: 50%;
}

.headerBottom ul {
    margin: 0;
    padding: 0;
}

.headerBottom ul li {
    display: inline;
    list-style: none;
    margin: 0em 1em;
}

.headerBottom ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 60px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.headerBottom ul li a:hover {
    color: #D6C1B5;
}

.headerBottom ul li.active a {
    color: #D6C1B5;
}

.hamburgerIcon {
    display: none;
}

.mobileMenu {
    display: none;
}

/*ipad pro landscape*/
@media(min-width: 1181px) and (max-width: 1400px) {}

/*ipad air landscape*/
/*ipad pro portrait*/
@media(min-width: 1024px) and (max-width: 1180px) {}

/*ipad Air portrait*/
@media(min-width: 768px) and (max-width: 1023px) {}

/*mobile landscape*/
@media(min-width: 667px) and (max-width: 767px) {
    .headerTop {
        display: flex;
        text-align: left;
    }

    .headerTop a img {
        width: 25%;
    }

    .headerBottom {
        display: none;
    }

    .hamburgerIcon {
        display: block;
    }

    .mobileMenu {
        display: block;
        width: 100%;
        text-align: center;
    }
}

/*mobile portrait*/
@media(max-width: 666px) {
    .headerBottom {
        display: none;
    }

    .headerTop{
        display: flex;
    }

    .headerTop a{
        text-align: left;
    }

    .headerTop a img{
        width: 30%;
    }

    .hamburgerIcon {
        display: flex;
        justify-content: center;
    }

    .mobileMenu {
        display: block;
        width: 100%;
        text-align: center;
    }
}