.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/herobanner.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
  opacity: 0.25;
}

.drinksBg {
  background-image: url('../../assets/drinksBg.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.croissantBg {
  background-image: url('../../assets/croissantBg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aboutBg {
  background-image: url('../../assets/aboutBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10% 0px 0px;
  padding: 10px 0px 0px;
}

/*ipad pro landscape*/
@media(min-width: 1181px) and (max-width: 1400px) {}

/*ipad air landscape*/
/*ipad pro portrait*/
@media(min-width: 1024px) and (max-width: 1180px) {}


/*ipad Air portrait*/
@media(min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .background::before {
    background-size: 100% 85%;
  }
}


/*Iphone XR landscape*/
@media(min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .background::before {
    background-size: 100% auto;
  }
}


/*mobile landscape*/
@media(min-width: 667px) and (max-width: 767px) {
  .background::before {
    background-size: auto 100%;
  }
}

/*mobile portrait*/
@media(max-width: 666px) {
  .background::before {
    background-size: 100% 100%;
  }

  .drinksBg {
    padding: 60px 0px 0px 0px;
  }

  .buyForHome {
    padding: 115px 0px 0px 0px;
  }
}